<!DOCTYPE html>
<html>
<head>
    <title>AI Dashboard</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div class="nav">
        <a href="/Home/Connect">Connect Objects</a>
        <a href="/Home/Performance">AI Performance</a>
        <a href="/Home/DamageReport">Damage/Maintenance Report</a>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>
