<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Dashboard</title>
    <link rel="stylesheet" href="/Main/static/styles.css">
</head>
<body>
    <h1>AI Dashboard</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/connect">Connect</a></li>
            <li><a href="/performance">Performance</a></li>
            <li><a href="/report">Report</a></li>
        </ul>
    </nav>
    <h2>Welcome to the AI Dashboard</h2>
    <h3>This is for Testing Things this is not Going to be the Main Dashboard</h3>
    <h4>In the feature we will have you guys connect it to show the Info in Person/Physical, and also on the Main Dashboard.</h4>
</body>
</html>
